@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

.buttons {
    background: #161932;
    margin-top: 2.8125rem;
    padding: 0.5rem 0.375rem;
    border-radius: 1.97rem;
    display: flex;
    gap: 0.15rem;
}

@media (min-width: 30rem) and (orientation: portrait) {
    .buttons {
        margin-top: 3.4375rem;
    }
}

@media (min-width: 30rem) and (orientation: landscape) {
    .buttons {
        margin-top: 5.7vh;
    }
}

